COURSE : LEARN PYTHON 3.6 FOR TOTAL BEGINNERS

SECTION 1 : BASICS

  1.1 VARIABLES AND MATHEMATICAL OPERATORS

*   Variables are assigned objects (numbers , strings, lists...)
*   Mathematical operators

---


    addition +
    subtraction -
    multiplication *
    power **
    division /
    integer division //
    modulus % (returns remainder of a division)

In [ ]:
x, y, z = 25, 80, 9.12345
print (x, y, z)
print(type(x),
type(y),
type(z),)

25 80 9.12345
<class 'int'> <class 'int'> <class 'float'>

1.2 BOOLEAN AND COMPARISON OPERATORS

---


  COMPARISON OPERATORS

---


    < , >, >=, <=, == , !=

---


  BOOLEAN OPERATORS

---


    True - Numerical substitute is 1, 
    False - Numerical substitute is 0

---
  INVERSE BOOLEAN
    The "not" statement can be used to create an inverse boolean

---
  MEMBERSHIP OPERATOR
    The "in" statement checks if a variable is also found in another variable

---
  OTHER OPERATORS 
    "and" & "or"

In [ ]:
True
print(True == 1)

True

In [ ]:
False
print (False == 0)
print(False == 1)

True
False

In [ ]:
var = "house"; var_1 = "cinema"; var_2 = "temple"
print("o"in var)
print ("z"not in var_2)
print ("z" in var_2)

True
True
False

In [ ]:
print(24>=20>4== 4 and 50<100>40 !=40)

False

In [ ]:
print(24>=20>4== 4 or 50<100>40 !=40)

True

1.3 STRINGS AND LEN FUNCTION

In [ ]:
#@title  { display-mode: "both" }
cat = "meow"; dog = "woof"; parrot = "Hello"
print (cat, dog, parrot)
print (cat, dog, parrot,sep=",")
print (cat, dog, parrot,end="!!")

meow woof Hello
meow,woof,Hello
meow woof Hello!!

In [ ]:
day = "Good Day"
night = "Good night"
print (len(day))# len returns the length of string
print(len(night))
print(day.capitalize())# converts first letter of all words to capital
print(day.casefold())# converts all to lower case
print(day.isnumeric())#Return True if the string is a numeric , False otherwise.
print(day.isupper())#Return True if the string is an uppercase, False otherwise.
print(day.upper())# converts to uppercase
print(day.lower())# converts to lower case
print()
print(day.count("o"))# returns count
lang = "python"
print("This is a cool " +lang + " course!")# concatenate strings using +

8
10
Good day
good day
False
False
GOOD DAY
good day

2
This is a cool python course!

In [ ]:
num = 20
print ("lecture " + str(num) + " is on strings") # if only num is put instead of
# str(num) it will give error since str and num cannot be concatenated
print("20"+"50")# anything in quotes acts as str . Here cal will not happen
print(20 + 50)
# you can use eval 
eval("20") + eval("50")

lecture 20 is on strings
2050
70

70

In [ ]:
messy = """\\\PLEASE #@ CLEANUP --THIS$% MESSY #@ DOCSTRING
WHICH --CAN HAVE\\ MULTIPLE \\LINES
OF STRING-- """
print(messy)
print()
print(messy.replace("\\",""))# Here "\\"replaced with ""(no value)
print()
print(messy.replace("\\", "?"))
print()
print(messy.replace("\\","").replace("#@","").replace("$%","").replace("--", ""))

\\PLEASE #@ CLEANUP --THIS$% MESSY #@ DOCSTRING
WHICH --CAN HAVE\ MULTIPLE \LINES
OF STRING--

PLEASE #@ CLEANUP --THIS$% MESSY #@ DOCSTRING
WHICH --CAN HAVE MULTIPLE LINES
OF STRING--

??PLEASE #@ CLEANUP --THIS$% MESSY #@ DOCSTRING
WHICH --CAN HAVE? MULTIPLE ?LINES
OF STRING--

PLEASE  CLEANUP THIS MESSY  DOCSTRING
WHICH CAN HAVE MULTIPLE LINES
OF STRING

1.4 SLICE , SPLIT AND JOIN

In [ ]:
robot = "technologically"

consoles = "ps4 is cooler than xbox!"

code = "ply1t3h4o5n6i7c8"

words = "I saw a cat jump over the moon and into the clouds"

new_words = " I saw a cow fly over the gates and into the forest"

paid = " I received atotal of $5000"

In [ ]:
robot = "technologically"
print(len(robot))# len starts at 1
print()
print (robot)
print(robot[:6])# slicing. Index starts at 0
print(robot[6:])
print()
print(robot[-9:])# negative indexing
print(robot[:-9])

15

technologically
techno
logically

logically
techno

In [ ]:
consoles = "ps4 is cooler than xbox!"
print(len(consoles))
print(consoles.upper())
print(consoles.index("4"))# will return index of a particular character

24
PS4 IS COOLER THAN XBOX!
2

In [ ]:
code = "p1y2t3h4o5n6i7c8"
print(code[::2])# using step 
print(code[:-1:2].upper())
print(code[1::2])

pythonic
PYTHONIC
12345678

In [ ]:
words = "I saw a cat jump over the moon and into the clouds"
print(words)
print(len(words))
var = words.split()
print(var)# This has split indl words and created a list
print(len(var))
print(var[5])
print(var[3:8:2])

I saw a cat jump over the moon and into the clouds
50
['I', 'saw', 'a', 'cat', 'jump', 'over', 'the', 'moon', 'and', 'into', 'the', 'clouds']
12
over
['cat', 'over', 'moon']

In [ ]:
new_words = " I saw a cow fly over the gates and into the forest"
s1 = slice(3,12,2)# defining a slice
var_1 = new_words.split()
print(var_1)
print(var_1[s1])
print()
print(new_words)
print(new_words[s1])
print()
print("".join(var_1))

['I', 'saw', 'a', 'cow', 'fly', 'over', 'the', 'gates', 'and', 'into', 'the', 'forest']
['cow', 'over', 'gates', 'into', 'forest']

 I saw a cow fly over the gates and into the forest
swacw

Isawacowflyoverthegatesandintotheforest

In [ ]:
paid = " I received a total of $5000"
print(paid.split("$"))
print(paid.split("$")[1])

[' I received a total of ', '5000']
5000

1.5 FORMATTING STRINGS

In [ ]:
name = "Micheal" ; grade = "A+"
print("The student's name is {} and his grade is {}".format(name, grade))

The student's name is Micheal and his grade is A+

In [ ]:
animals = ["lions", "zebras", "elephants"]
safari = "I saw {}, {} and {}!"
print(safari.format(animals[0].upper(),animals[1].capitalize(),animals[2])) 
print()
print(safari.format(*animals).upper())

I saw LIONS, Zebras and elephants!

I SAW LIONS, ZEBRAS AND ELEPHANTS!

In [ ]:
num = "200"
print(eval(num) +10)# w/o eval num +10 will give error as num is string
print()
numbers = [10, 20, 30]
print("{} + {} + {}".format(*numbers))# printed as str
print(eval("{} + {} + {}".format(*numbers)))
print()
print(eval("{0} + {0} + {0}".format(*numbers)))# can use index to add specific num
print(eval("{1} + {1} + {2}".format(*numbers)))

210

10 + 20 + 30
60

30
70

In [ ]:
print("%d * %d = %f" % (5, 3, 5/3))
print("%d * %d = %.2f"% (5, 3, 5/3))# .2f defines no of decimal places
print()
p1 = "Python" ; p2 = "Older"
print(f"""This is a docstring using {p1} 3.6 and
cant be used with {p2} version of {p1}.""".upper())

5 * 3 = 1.666667
5 * 3 = 1.67

THIS IS A DOCSTRING USING PYTHON 3.6 AND
CANT BE USED WITH OLDER VERSION OF PYTHON.